# MANAGED_BY_ANSIBLE
# bash include for Consul on {{inventory_hostname}}

export PATH="{{hashicorp_dir_bin}}:${PATH}"

alias ccn='consul catalog nodes'
alias ccs='consul catalog services'
alias  cm='consul members'

# end
